{% extends 'registration/auth.html' %}
{% load static %}

{% block auth_content %}
<div class="auth-login auth-main-content">
  <div class="container auth-login-container text-center">
      <div class="mb-3 text-success">
          <i class="fa-regular fa-circle-check fa-3x"></i>
      </div>
      <h3 class="mb-3">تم تغيير كلمة السر!</h3>
      <p class="text-white-50 mb-4 fs-7">
          تم تحديث كلمة السر الخاصة بك بنجاح. يمكنك الآن تسجيل الدخول باستخدام كلمة السر الجديدة.
      </p>

      <div class="d-grid gap-2 mt-4">
          <a href="{% url 'Base:login' %}" class="btn btn-primary">تسجيل الدخول الآن</a>
      </div>
  </div>
</div>
{% endblock %}
