{% extends 'registration/auth.html' %}
{% load static %}

{% block auth_content %}
<div class="auth-login auth-main-content">
  <div class="container auth-login-container text-center">
      <div class="mb-3 text-success">
          <i class="fa-regular fa-paper-plane fa-3x"></i>
      </div>
      <h3 class="mb-3">تفقد بريدك الإلكتروني</h3>
      <p class="text-white-50 mb-4 fs-7">
          إذا كان البريد الذي أدخلته مسجلاً لدينا، ستصلك رسالة تحتوي على تعليمات ورابط لإعادة تعيين كلمة السر.
      </p>

      <div class="d-grid gap-2 mt-4">
          <a href="{% url 'Base:login' %}" class="btn btn-primary">العودة لتسجيل الدخول</a>
      </div>
  </div>
</div>
{% endblock %}
