{% extends 'base/Colonelbase.html' %} {% load static %}

{% block client_content%}



  <section class="tk__rights">
    <div class="tk_right container row mx-auto xw-auto">
      <div class="mx-auto px-5 tk-glass-card">
        <h4
          class="h5 text-center star__orange my-4 animate__animated animate__fadeIn animate__slow"
        >
          <svg
            class="star__svg"
            width="11"
            height="11"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <g>
              <path
                d="M 4.5,-0.5 C 4.83333,-0.5 5.16667,-0.5 5.5,-0.5C 5.83333,2.5 7.5,4.16667 10.5,4.5C 10.5,4.83333 10.5,5.16667 10.5,5.5C 7.5,5.83333 5.83333,7.5 5.5,10.5C 5.16667,10.5 4.83333,10.5 4.5,10.5C 4.16667,7.5 2.5,5.83333 -0.5,5.5C -0.5,5.16667 -0.5,4.83333 -0.5,4.5C 2.5,4.16667 4.16667,2.5 4.5,-0.5 Z"
              ></path>
            </g>
          </svg>
          <span class="px-3 text-start" style="font-family: Cairo; font-weight: bold"
            >منصة مجهر هندسي</span
          >
          <svg
            class="star__svg"
            width="11"
            height="11"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <g>
              <path
                d="M 4.5,-0.5 C 4.83333,-0.5 5.16667,-0.5 5.5,-0.5C 5.83333,2.5 7.5,4.16667 10.5,4.5C 10.5,4.83333 10.5,5.16667 10.5,5.5C 7.5,5.83333 5.83333,7.5 5.5,10.5C 5.16667,10.5 4.83333,10.5 4.5,10.5C 4.16667,7.5 2.5,5.83333 -0.5,5.5C -0.5,5.16667 -0.5,4.83333 -0.5,4.5C 2.5,4.16667 4.16667,2.5 4.5,-0.5 Z"
              ></path>
            </g>
          </svg>
        </h4>

        <h2 class="h5 text-center my-4 fw-bold animate__animated animate__fadeIn animate__slow">
          <span>سياسة الخصوصية</span>
        </h2>

        <div class="mb-3 text-justify" style="line-height: 2.5">
          <p class="lh-lg">
            تحكم سياسة الخصوصية الأسلوب الذي تقوم من خلاله منصة مجهر هندسي بجمع، واستخدام، والحفاظ
            والتصريح بالمعلومات التي تم جمعها من قبل مستخدمي المنصة. وتطبق سياسة الخصوصية هذه في
            كافة المنتجات والخدمات المقدمة من قِبل منصة مجهر هندسي.
          </p>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">معلومات الهوية الشخصية:</div>
          <ol>
            <li>
              تقوم منصة مجهر هندسي بجمع معلومات من المستخدمين وتشمل – ولا تقتصر على – أوقات زيارة
              المستخدم، التسجيل، ملء الطلب، وغير ذلك من الأنشطة، والخدمات، والميزات أو المصادر التي
              قد نوفرها.
            </li>
            <li>
              قد يُطلب من المستخدمين توضيح الاسم بشكل كامل، وعنوان البريد الإلكتروني، ورقم الجوال،
              وبيانات بطاقة الائتمان.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">
            معلومات لا تتعلق بالهوية الشخصية:
          </div>
          <ol>
            <li>
              تقوم منصة مجهر هندسي بجمع بعض المعلومات عن المستخدمين أينما تفاعلوا مع المنصة، وهذه
              المعلومات لا تتعلق بالهوية الشخصية.
            </li>
            <li>
              قد تتضمن هذه المعلومات نوع الهاتف الذكي ومعلومات عن أساليب الاتصال المستخدمة، أو
              الشركة المستخدمة لتقديم خدمة الانترنت، أو غيرها من المعلومات المشابهة.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">
            كيفية استخدام المعلومات التي تم جمعها:
          </div>
          <p class="px-3 px-md-0 mx-auto mb-2 text-justify lh-lg">
            تقوم منصة مجهر هندسي بجمع واستخدام المعلومات الشخصية للمستخدمين في الأغراض التالية:
          </p>
          <ol>
            <li>
              <strong>تحسين جودة خدمة العملاء:</strong> تساعدنا المعلومات الخاصة بك على سهولة
              الاستجابة لطلباتك الموجهة لخدمة العملاء واحتياجاتك للدعم بشكل أكثر فاعلية.
            </li>
            <li>
              <strong>تحسين جودة ومحتوى الموقع الإلكتروني وتطبيقات الجوال:</strong> نسعى باستمرار
              لتحسين بنية ومحتوى موقعنا الإلكتروني وتطبيقات الجوال وفقًا للمعلومات والملاحظات التي
              نتلقاها منك.
            </li>
            <li>
              <strong>إرسال رسائل إلكترونية بشكل دوري:</strong> عنوان البريد الإلكتروني الذي يسجله
              المستخدمون للتعامل مع طلبهم، سوف يستخدم فقط في إرسال معلومات وتحديثات لهم تتعلق
              بطلبهم. وقد يُسخدم أيضاً في الاستجابة للاستفسارات، أو غيرها من الطلبات أو الأسئلة.
            </li>
            <li>
              إذا قرر المستخدم الانضمام إلى قائمة مراسلاتنا، فإنه سوف يتلقى رسائل عبر بريده
              الإلكتروني قد تتضمن أخبارًا، وآخر التحديثات، ومعلومات تتعلق بالمنصة. وإذا أراد
              المستخدم في أي وقت إلغاء تسجيله بقائمة المراسلات لتجنب تلقي أي رسائل مستقبلية، فإننا
              نقدم له توجيهات مفصلة حول إلغاء التسجيل في نهاية كل رسالة مرسلة عبر بريده الالكتروني،
              أو يمكن للمستخدم التواصل معنا عبر قنوات التواصل للمساعدة.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">حماية المعلومات:</div>
          <ol>
            <li>
              يتم اتباع الإجراءات السليمة ومعايير الأمان في جمع وحفظ والتعامل مع البيانات، وذلك
              لحماية تلك البيانات ضد التعامل غير المصرح به، أو التعديل، أو الإفصاح أو إtلاف بياناتك
              الشخصية، واسم المستخدم، وكلمة المرور، ومعلومات تخص تعاملاتك والبيانات المخزنة لدينا.
            </li>
            <li>
              يتم تبادل البيانات الحساسة والخاصة بين مجهر هندسي ومستخدميه من خلال قنوات اتصال مؤمنة، كما
              يتم تشفير البيانات وحمايتها من خلال طرق وأساليب رقمية معتمدة.
            </li>
            <li>
              لن يتم تخزين أي من بيانات البطاقات الائتمانية وبطاقات الخصم المباشر بالإضافة إلى
              المعلومات الشخصية أو بيعها أو مشاركتها أو تأجيرها إلى أي أطراف خارجية.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">مشاركة المعلومات الشخصية:</div>
          <ol>
            <li>
              نحن في منصة مجهر هندسي لا نقوم ببيع، أو المتاجرة، أو تأجير معلومات الهوية الشخصية الخاصة
              بالمستخدمين إلى جهات أخرى.
            </li>
            <li>
              قد نشارك المعلومات الديموغرافية العامة المجمعة – والتي لا ترتبط بأي معلومات عن الهوية
              الشخصية الخاصة بالزائرين والمستخدمين – مع شركائنا، والشركات التابعة والمعلنين وذلك
              بغرض تطوير خدماتنا.
            </li>
            <li>
              قد نستخدم طرفاً ثالثاً مقدماً للخدمة ليساعدنا في تسيير أعمالنا وأيضاً في عمل المنصة أو
              في إدارة الأنشطة بالنيابة عنا، مثل إرسال النشرات الإخبارية أو الدراسات الاستقصائية. قد
              نشارك بياناتك مع هذا الطرف الثالث في حدود تلك الأغراض المحددة في حالة أنك وافقت على
              هذه السياسة.
            </li>
            <li>كما قد نفصح عن معلوماتك الشخصية في حال صدور أمر قضائي ملزم بذلك.</li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">المواقع الخاصة بالطرف الثالث:</div>
          <ol>
            <li>
              بعض من الإعلانات التي تراها على الموقع يتم اختيارها وتقديمها من قبل أطراف خارجية مثل
              الشبكات ووكالات الإعلانات والمُعلنين الأفراد ومقدّمي بيانات الزوّار.
            </li>
            <li>
              قد تعمل هذه الأطراف الخارجية على جمع أنشطتك على الإنترنت سواء كانت على هذا الموقع
              الإلكتروني أو المواقع الإلكترونية الأخرى وذلك من خلال ملفات تعريف الارتباط (كوكيز)
              وإشارات الويب وتقنيات أخرى، حيث أن ذلك بهدف فهم ما هي اهتماماتك وعرض لك الإعلانات
              المناسبة لهذه الاهتمامات.
            </li>
            <li>
              ننوّه بأننا ليس لدينا أي سلطة للوصول أو للتحكّم في المعلومات التي قد تجمعها هذه
              الأطراف الخارجية. كما أن الممارسات التي تتبّعها هذه الأطراف الخارجية لجمع المعلومات
              غير واردة في هذه السياسة.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">
            التغيرات التي تطرأ على سياسة الخصوصية:
          </div>
          <ol>
            <li>
              قد يتم تغيير السياسات والشروط والأحكام الخاصة بالموقع الإلكتروني أو تحديثها من وقت
              لآخر وذلك حتّى يتم استيفاء جميع المعايير القياسية المعمول بها.
            </li>
            <li>
              بالتالي فإننّا نحثّ العميل على الرجوع إلى هذه الأقسام بشكل متكرّر وذلك لمعرفة
              التغييرات التي تتم على الموقع الإلكتروني.
            </li>
            <li>
              التعديلات الجديدة ستصبح سارية في نفس الوقت الذي يتم به نشرها عبر الموقع الإلكتروني أو
              تطبيق الجوال لمنصة مجهر هندسي.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">الموافقة على شروط الاستخدام:</div>
          <ol>
            <li>
              إن استخدامك للموقع الإلكتروني أو تطبيق الجوال يفيد بموافقتك على سياسة الخصوصية المتبعة
              لدينا والضوابط والشروط التي تحكم استخدام هذه المنصة. فإذا لم تكن موافقًا على هذه
              السياسة، يتوجب عليك عدم استخدام منصة مجهر هندسي.
            </li>
            <li>
              إنك تقر بأن استمرار استخدامك للتطبيق بعد إعلان التغييرات التي تطرأ على هذه السياسة أو
              على ضوابط وشروط استخدام التطبيق سيعتبر بمثابة موافقة منك على هذه التغييرات.
            </li>
          </ol>
        </div>

        <div class="rounded-5 inspector__home__img text-center">
          <img
            src="{% static 'images/favicon.ico' %}"
            class="my-5 p-3 rounded-5 bg-light"
            style="width: 250px"
            alt="ENGINEER MICROSCOPE"
          />
        </div>
      </div>
    </div>
  </section>

{% endblock %}
