{% extends 'base/Colonelbase.html' %} {% load static %}

{% block client_content%}

  <section class="tk__rights">
    <div class="tk_right container row mx-auto xw-auto">
      <div class="mx-auto px-5 tk-glass-card">
        <h4
          class="h5 text-center star__orange my-4 animate__animated animate__fadeIn animate__slow"
        >
          <svg
            class="star__svg"
            width="11"
            height="11"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g>
              <path
                d="M 4.5,-0.5 C 4.83333,-0.5 5.16667,-0.5 5.5,-0.5C 5.83333,2.5 7.5,4.16667 10.5,4.5C 10.5,4.83333 10.5,5.16667 10.5,5.5C 7.5,5.83333 5.83333,7.5 5.5,10.5C 5.16667,10.5 4.83333,10.5 4.5,10.5C 4.16667,7.5 2.5,5.83333 -0.5,5.5C -0.5,5.16667 -0.5,4.83333 -0.5,4.5C 2.5,4.16667 4.16667,2.5 4.5,-0.5 Z"
              ></path>
            </g>
          </svg>
          <span class="px-3 text-start" style="font-family: Cairo; font-weight:bold">منصة مجهر هندسي</span>
          <svg
            class="star__svg"
            width="11"
            height="11"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g>
              <path
                d="M 4.5,-0.5 C 4.83333,-0.5 5.16667,-0.5 5.5,-0.5C 5.83333,2.5 7.5,4.16667 10.5,4.5C 10.5,4.83333 10.5,5.16667 10.5,5.5C 7.5,5.83333 5.83333,7.5 5.5,10.5C 5.16667,10.5 4.83333,10.5 4.5,10.5C 4.16667,7.5 2.5,5.83333 -0.5,5.5C -0.5,5.16667 -0.5,4.83333 -0.5,4.5C 2.5,4.16667 4.16667,2.5 4.5,-0.5 Z"
              ></path>
            </g>
          </svg>
        </h4>
        <h2 class="h5 text-center my-4 fw-bold animate__animated animate__fadeIn animate__slow">
          <span>الشروط والأحكام</span>
        </h2>

        <div class="mb-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">التمهيد</div>
          <ol>
            <li>
              تُسمى هذه الاتفاقية بـ [اتفاقية استخدام منصة مجهر هندسي]، ويُشار إليها أينما وردت بـ
              [الاتفاقية].
            </li>
            <li>
              أُبرمت هذه الاتفاقية بين منصة مجهر هندسي، ومستخدم المنصة [المستخدم]، وتخضع لأنظمة وقوانين
              المملكة العربية السعودية.
            </li>
            <li>
              ذه الاتفاقية تشمل وتنطبق على كل من استخدم المنصة، وتشمله كلمة المستخدم الواردة في
              الاتفاقية، سواء أكان طالبًا لخدمة/ مهندسًا/شركة هندسية/متصفحًا/وكل من حمل أو تصفح
              المنصة عبر أي من قنواتها.
            </li>
            <li>
              تسري هذه الاتفاقية منذ لحظة دخول المستخدم للمنصة والشروع في استخدامها، ولا يُعد حذفه
              لتطبيق المنصة أو توقفه عن استخدامها إنهاءً للالتزامات الناشئة عليه بموجب الاتفاقية.
            </li>
            <li>
              نَّ تحميل تطبيق منصة مجهر هندسيأو فتح الموقع الإلكتروني لها أو الشروع في استخدام أحدهما أو
              كلاهما أو أي من قنوات منصة مجهر هندسيالأخرى يعني أن المُستخدم يوافق ويُقر ويضمن للمنصة ما
              يلي:
              <ul>
                <li>
                  قبوله جميع الأحكام والشروط الواردة في هذه الاتفاقية دون قيد أو شرط أو تعديل.
                </li>
                <li>
                  أنَّ الحق القانوني له في الاستفادة من المنصة واستخدامها يخضع لشروط وأحكام هذه
                  الاتفاقية دون استثناء.
                </li>
              </ul>
            </li>
            <li>
              يُعد البند المعنون بـ [التمهيد] جزءًا لا يتجزأ من هذه الاتفاقية وأحكامها وشروطها؛
              يُقرأ ويُفسَّر بها ومعها. وفيما يلي الأحكام والشروط التفصيلية للاتفاقية.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">أولاً: الألفاظ والعبارات:</div>
          <ol>
            <li>
              منصة مجهر هندسي: هي جميع القنوات التي يمكن من خلالها لمستخدم منصة مجهر هندسيطلب خدمة الفحص والحصول
              على التقرير، ومنها على سبيل المثال لا الحصر الموقع الالكتروني (www.takkd.com)
              والنطاقات الفرعية عنه، وتطبيقات الجوال، وغيرها من القنوات، وتشمل المنصة مالكيها
              ومُطوريها وشركائها ومن يعملون لديها ومعها ولمصلحتها ومستشاريها وموظفيها وممثليها ومن
              في حكمهم.
            </li>
            <li>
              المستخدم: يقصد به كل من حمل تطبيق المنصة أو فتح موقعها الإلكتروني، أو استخدم أيًّا من
              قنواتها سواء اكتفى بالتحميل أو الفتح أو قام بإدخال البيانات أو طلب الخدمة، ويشمل طالب
              الخدمة والفاحص وأي شخصية معنوية أو اعتبارية، قامت بأي من الأعمال المذكورة في هذا البند
              أو غيرها مما له صلة أو اتصال بقنوات المنصة.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">ثانيًا: المصداقية:</div>
          <ol>
            <li>
              تعمل منصة مجهر هندسيقدر الإمكان على توفير المعلومات والخدمات عبر وسائطها وقنواتها المختلفة
              بأكبر دقة ممكنة، ومع ذلك فإن بعض الأخطاء قد تحدث بين الحين والآخر، لذا فإن المنصة لا
              تتحمل أي مسؤولية عن أي خطأ في المعلومات والخدمات التي قد تقدمها.
            </li>
            <li>
              يقر المُستخدم باطلاعه وموافقته على كافة أحكام وشروط هذه الاتفاقية وأي تعديلات أو
              تغييرات أو تحديثات سابقة أو لاحقة قد تقوم بها أو تُدخلها أو تُجريها المنصة على هذه
              الاتفاقية أو سياسة البيع والشراء أو الدفع أو الإلغاء أو سياسة التعامل مع المستخدمين أو
              الفاحصون المقدمة أو المستشارين أو الفاحصين من خلالها أو المعلومات أو البيانات الموجودة
              فيها أو على أي من محتوياتها الأخرى؛ في أي وقت ودون سابق إشعار أو انذار.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">ثالثًا: الملكية الفكرية:</div>
          <ol>
            <li>
              إنَّ شعار وهوية المنصة؛ علامة تجارية مُسجلة ومحمية وفقًا لأنظمة المملكة العربية
              السعودية
            </li>
            <li>
              إنَّ المنصة وجميع محتوياتها بما في ذلك – على سبيل المثال لا الحصر – نماذج الفحص
              والتقارير والنتائج والاستشارات والصور والرسومات والأشكال والنماذج والتصاميم وغيرها؛
              محمية ومحفوظة بموجب أنظمة وقوانين المملكة العربية السعودية، وبالتالي لا يجوز ولا يحق
              لأي شخص طبيعي أو اعتباري استخدامها أو نسخها أو اقتباسها أو نقلها أو الانتفاع بها أو
              منها جزئيًّا أو كُليًّا دون موافقة خطية مسبقة من مالك المنصة.
            </li>
            <li>
              يسري هذا الأمر وتلك الملكية طيلة فترة سريان استخدام المنصة أو عدم استخدامها أو إغلاقها
              أو انقضائها أو انتهائها، ولمالك المنصة في حال تبين له أن أي شخص معنوي أو اعتباري قد
              أخل بحكم هذه المادة في أي وقتٍ أن يطلب من أخل دفع الأتعاب الفنية نظير إخلاله بهذا
              الحكم، وله أيضًا مطالبته بدفع هذه الأتعاب عن طريق الجهات الحكومية والقضائية المختصة في
              المملكة العربية السعودية.
            </li>
            <li>
              لا يجوز ولا يحق لأي شخص طبيعي أو اعتباري تعديل، أو نسخ، أو توزيع، أو إرسال، أو عرض، أو
              تنفيذ، أو إعادة إنتاج، أو نشر، أو إنشاء أعمال مشتقة، أو نقل، أو بيع؛ أي معلومات، أو
              محتويات، أو تصاميم، أو رسومات، أو صور، أو برامج، أو منتجات، أو خدمات؛ تتضمنها أو تشتمل
              عليها المنصة.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">رابعًا: التوافر:</div>
          <ol>
            <li>
              تعمل منصة مجهر هندسيبكل جد واجتهاد وبكافة الوسائل على ضمان جاهزيتها، وإتاحة كافة الخدمات
              المرتبطة بها، ومع ذلك لا تضمن بأي شكلٍ من الأشكال استمرارية عملها دون انقطاع مؤقت أو
              دائم.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">خامسًا: إخلاء المسؤولية:</div>
          <ol>
            <li>لا تضمن المنصة للمستخدم أو لأي شخص آخر سلامة ودقة وصحة أي من محتوياتها.</li>
            <li>
              أي ضرر مادي أو معنوي يقع على المستخدم أو يلحق به أو يصيبه شخصيًّا أو أي من أفراد
              عائلته أو تابعيه أو من يعولهم أو الغير بطريقة مباشرة أو غير مباشرة؛ نتيجة لاستخدامه
              المنصة أو دخوله في أي تعامل مع أي فاحص أو جهة فحص أو أي طرف كان؛ يقع تحت مسؤولية
              المستخدم الشخصية، وبالتالي لن تتحمل المنصة أي مسؤولية من أي نوعٍ كان وأيًّا كانت
              طبيعتها وسواءً كانت مباشرة أو غير مباشرة أو عرضية أو تبعية عن أي من تلك الأضرار، ولا
              يجوز للمستخدم بأي حال من الأحوال الرجوع عليها لأي سببٍ كان.
            </li>
            <li>
              تقوم منصة مجهر هندسيالإلكترونية بدور الوسيط بين المستخدم والفاحص أو جهة الفحص وتقديم الخدمة
              من خلالها، لذا فإنها لا تضمن بأي حال من الأحوال أي ضرر مادي أو معنوي قد يلحق بالمستخدم
              أو أي من أفراد عائلته أو تابعيه أو من يعولهم أو الغير؛ نتيجة تعامل أو تصرف أو إجراء أو
              تأخير أو خطأ أو تقصير أو إهمال أو فعل أو ما يصدر عن الطرف الآخر المتعامل من خلال
              المنصة أو أي من منسوبيهم أو ممثليهم أو العاملين لديهم أو معهم أو لمصلحتهم.
            </li>
            <li>
              تعد منصة مجهر هندسيأداةً أو وسيلةً لربط المستخدم طالب خدمة الفحص بمقدم الخدمة، وبالتالي فإن
              المنصة ليست طرفًا في العلاقة التعاقدية التي تنشأ بين المستخدم ومقدم الخدمة من خلال
              المنصة منذ لحظة طلب المستخدم للخدمة، وبالتالي فإن المنصة لا تتحمل أي مسؤولية من أي
              نوعٍ كان وأيًّا كانت طبيعتها وسواءً كانت المسؤولية مباشرة أو غير مباشرة أو عرضية أو
              تبعية، وتُخلي مسؤوليتها إخلاءً تامًّا عن الخدمة المقدمة والتعامل بين الطرفين وكل ما قد
              يترتب عنه من حقوق أو التزامات أو مسؤوليات، وتقع المسؤولية كاملة على عاتق الطرفين
              المتعاملين (المستخدم ومقدم الخدمة من خلال المنصة).
            </li>
            <li>
              في حال وقوع خلاف أو إشكال أو سوء تفاهم أو مطالبة أو دعوى قضائية بين المستخدم ومقدم
              الخدمة من خلال المنصة، فلا يحق لأي منهما أن يطلب من المنصة التدخل أو تسليم معلومات أو
              بيانات أو وثائق تخص الطرف الآخر، وعلى الطرفين المتعاملين (المستخدم ومقدم الخدمة) في
              هذه الحالة التوجه إلى الجهات أو المحاكم المختصة.
            </li>
            <li>
              إنَّ اختيار الخدمة ومُقدِّمها؛ هو مسؤولية شخصية تقع على عاتق المستخدم دون سواه،
              وبالتالي فإن المنصة لا تضمن للمستخدم بأي طريقةٍ كانت عدم حدوث أي خطر من المخاطر
              المحتملة بأي صورة كانت، ومن تلك المخاطر – على سبيل المثال لا الحصر – النصب والاحتيال
              والكسر والعيب والتدليس والغش والمماطلة والنقص وأي ضرر أو سبب كان.
            </li>
            <li>
              في حال طلب المستخدم خدمة عن طريق المنصة؛ فإن المنصة لا تضمن وصول الخدمة أو مقدمها إلى
              المستخدم في الوقت المتوقع الذي سوف يظهر للمستخدم بعد طلب الخدمة، وبالتالي لن تتحمل
              المنصة أي مسؤولية عن أي ضرر أو خطر متوقع أو محتمل قد ينتج بطريقة مباشرة أو غير مباشرة
              عن التأخير في إيصال الخدمة المطلوبة خلال الوقت المتوقع.
            </li>
            <li>
              يتطلب استخدام المنصة إدراج المستخدم لبياناته الشخصية وعناوين التواصل المباشرة معه،
              مثل: الهاتف الجوال وعنوان البريد الإلكتروني، وعليه فإن أي إساءة لاستخدام تلك المعلومات
              أو البيانات أو العناوين قد تصدر من الطرف الآخر أو أي من منسوبيه أو ممثليه أو العاملين
              لديه أو معه أو لمصلحته مثل الإزعاج أو النشر أو التهديد أو الابتزاز وما في حكم ذلك، وما
              قد يتبع أو ينشأ عن إساءة استخدام تلك المعلومات أو البيانات أو العناوين من أضرار؛ فإن
              المنصة لن تكون مسؤولة بطريقة مباشرة أو غير مباشرة في مواجهة المستخدم/الفاحص أو أي جهة
              أخرى بأي طريقة كانت ولأي سببٍ كان.
            </li>
            <li>
              تقع مسؤولية تحميل المنصة واستخدامها على المستخدم شخصيًّا، ولا تضمن المنصة خلوها من أي
              فيروسات قد تُلحق بالمستخدم أو بياناته أو معلوماته السرية والشخصية أي ضرر أو تجعلها
              عرضة للنشر.
            </li>
            <li>
              منصة مجهر هندسيلن تكون مسؤولة بطريقة مباشرة أو غير مباشرة أو عرضية أو تبعية أو خاصة أو عامة
              أو أيًّا كان نوعها عن الخسائر أو الأضرار التي قد تلحق بممتلكات أو مدخرات أو أموال أو
              بيانات أو معلومات المستخدم أيًّا كان نوعها أو طبيعتها نتيجة استخدامه للمنصة أو عدم
              قدرته على استخدامها بأي طريقة كانت ولأي سببٍ كان بما في ذلك – على سبيل المثال لا الحصر
              – فقد أو تلف بيانات أو معلومات المستخدم العامة أو الشخصية أو السرية جزئيًا أو
              كُلِّيًّا.
            </li>
            <li>
              كافة الخدمات التي يطلبها المستخدم أو يقدمها من خلال المنصة والمعلومات والبيانات
              والوثائق الخاصة به، سوف يتم حفظها وتخزينها في سجلات وخوادم المنصة، ويُقر المستخدم بأن
              للمنصة حق الاطلاع عليها عند الحاجة أو لغرض إجراء أي تقارير إحصائية أو لغرض تطوير
              المنصة، أو مشاركة ما سبق مع أي جهة رسمية مختصة داخل المملكة العربية السعودية أو خارجها
              وفقًا للأنظمة والقوانين الخاصة بالدول التي تُستخدم فيها المنصة.
            </li>
            <li>
              للمنصة حق الاطلاع على الرسائل المتبادلة بين المستخدم والطرف الآخر مقدم الخدمة وحفظها،
              كما لها الحق في حفظ والاطلاع على كافة المعلومات والبيانات والوثائق المسجلة على المنصة
              – أيًّا كانت طبيعتها أو محتواها – لغرض تطوير وتحسين ورفع مستوى وكفاءة الخدمات المقدمة
              من خلال المنصة.
            </li>
            <li>
              المنصة لن تتعامل أو تقدم أي خدمات أو منتجات إلى دول العقوبات التي قام مكتب مراقبة
              الأصول الأجنبية (OFAC) بإدراجها وفقا لقانون المملكة العربية السعودية.
            </li>
            <li>
              يقرّ المستخدم باطلاعه على سياسة الإلغاء والاسترجاع الملحقّة في المنصة وموافقته التامة
              عليها بلا قيد أو شرط.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">سادسًا: شروط الاستخدام:</div>
          <p
            class="px-3 px-md-0 mx-auto mb-2 text-justify lh-lg animate__animated animate__fadeIn hold__animate animate__slow"
          >
            في حال تحميل المستخدم للتطبيق أو فتحه للموقع الإلكتروني وشروعه في استخدام المنصة، فإنه
            يُقرّ ويوافق على ما يلي:
          </p>
          <ol>
            <li>
              أنَّ استخدامه للمنصة وانتفاعه بما يُقدم من خلالها من خدماتٍ يُعدّ استخدامًا شخصيًا –
              يشمل الاستخدام الشخصي طلب الخدمات نيابةً عن أفراد أسرته أو من يعولهم أو أقاربه ومن في
              حكمهم –، وأنه لا يستخدم المنصة لأي أغراض تجارية أيًّا كانت طبيعتها.
            </li>
            <li>
              أنَّ المنصة مُعدة لغرض تقديم خدمات الفحص للعقارات وفقًا للأنظمة والقوانين ذات الصلة
              (سواء أكانت منشآت جاهزة، أو تحت الإنشاء، أو وحدات عقارية، أو أي فحص قد تقرره وتدرجه
              المنصة لاحقًا)، وتقديم استشارات الفحص (حضوريًّا أو عن بعد) من قبل المهندسين الفاحصين
              المسجلين في المنصة، لذا يجب على المُستخدم أن تكون استفادته من تلك الخدمات ضمن إطار
              الأنظمة والقوانين التي تحكم وتُنظّم الخدمات المقدمة من خلال المنصة.
            </li>
            <li>
              أن كافة المعلومات والبيانات والعناوين والتقارير التي يُدخلها أو يسجلها المستخدم في
              المنصة أثناء تسجيله فيها أو خلال فترة استخدامه لها صحيحة ومكتملة ودقيقة وغير ناقصة،
              بما في ذلك البيانات التي تخصه شخصيًا أو تخص من ينوب عنه من أفراد أسرته أو من يعولهم أو
              أقاربه أو من في حكمهم (سواءً أكانت إلزامية أو اختيارية)، ومنها – علي سبيل المثال لا
              الحصر – الاسم، العمر، الجنس، رقم الهوية، نوع الهوية، الجنسية، عنوان السكن، رقم الهاتف،
              عنوان البريد الإلكتروني، وأي بيانات أخرى تطلبها المنصة منه أثناء تسجيله في المنصة أو
              خلال فترة استخدامه لها، وسواءً أكان طلب تلك البيانات أثناء طلبه للخدمة أو خلال وقت
              تقديمها أو بعد الانتهاء من تقديمها.
            </li>
            <li>
              أنَّ عمره بلغ 18 سنة على الأقل، وأنه بكامل أهليته المعتبرة شرعًا ونظامًا لإنشاء وترتيب
              التزامات قانونية أصالةً عن نفسه ونيابةً عمن قد يطلب خدمات نيابةً عنهم.
            </li>
            <li>
              أنَّ المسؤولية عن إعلام وإبلاغ من يطلب المستخدم خدمات نيابةً عنهم من خلال المنصة؛
              بكافة شروط وأحكام هذه الاتفاقية تقع على عاتق المستخدم شخصيًّا، وليس على المنصة أي
              مسؤولية تجاه أي منهم، وأنَّ المستخدم سوف يكون المسؤول شخصيًّا عن مخالفة أي منهم لأي من
              شروط وأحكام هذه الاتفاقية.
            </li>
            <li>
              أن يدفع ويُسدد كامل قيمة التكاليف المالية المقررة من قبل المنصة مقابل الخدمة المطلوبة،
              عن طريق قنوات الدفع والسداد المحددة في المنصة، سواءً أكان الدفع أو السداد مشترطًا قبل
              تقديم الخدمة المطلوبة أو بعد تقديمها.
            </li>
            <li>
              أن يمتنع عن رفع أو تحميل أو تسجيل أو كتابة أي معلومات أو بيانات أو وثائق أو مواد يكون
              محتواها مخالف لأنظمة وقوانين المملكة العربية السعودية أو لأنظمة وقوانين أي دولة تعمل
              فيها المنصة.
            </li>
            <li>
              أن يمتنع عن إجراء أو القيام بأي عمليات وهمية أو تجريبية أو تخمينية أو احترازية من خلال
              طلب خدمة عن طريق المنصة، وفي حال تولدت قناعة أو شك لدى المنصة بأن الخدمة المطلوبة
              تندرج تحت أي من الأوصاف المذكورة، فلها –دون إشعار أو إنذار مسبق للمستخدم – إلغاء الطلب
              أو الطلبات التي تقدَّم بها دون أن يكون له أي حق في المطالبة بالتعويض لأي سببٍ كان.
            </li>
            <li>
              الالتزام بالمحافظة على المنصة وعدم إجراء أي تعديل أو تحريف أو تشويه أو تغيير على
              مظهرها أو أي من محتوياتها دون حصر أو استثناء.
            </li>
            <li>
              الالتزام باستخدام المنصة بطريقةٍ صحيحة وسليمة ونظامية وفقًا لأحكام وشروط هذه الاتفاقية
              وحسب طريقة الاستخدام الموضحة في المنصة، وتجنب القيام بأي عمل أو فعل أو تصرف أو إجراء
              قد يتسبب في أو يؤدي إلى إحداث ضغط غير محتمل أو غير متناسب أو غير متوافق مع آلية عمل
              المنصة أو البنية التحتية الخاصة بها، أو قد يتسبب في أو يؤدي إلى خسارة أو إلحاق أي ضرر
              جزئي أو كُلي بالمنصة أو محتوياتها أو بنيتها التحتية أو أنظمتها أو الخوادم الخاصة بها
              أو مُطورها أو أي من مقدمي الخدمات لها أو عبرها أو أي من المستخدمين الآخرين أو أي شخص
              آخر، بما في ذلك – على سبيل المثال لا الحصر –تحميل أو تشغيل أو استخدام أو استعمال أي
              ملفات أو مواد أو برامج أو برمجيات وما في حكمها قد تحتوي على فايروسات أو قد تكون معدة
              لاعتراض أو اختراق أو تدمير أو تعطيل المنصة أو أي من وظائفها أو أجزائها كليًّا أو
              جزئيًّا، أو تحميل أو تشغيل أو استخدام أو استعمال أو نشر أي مواد أو محتويات قد تتضمن
              تضليلاً أو خداعًا أو تدليسًا أو تشهيرًا أو إساءة أو اتهامًا أو تهديدًا أو إزعاجًا أو
              اعتداءً على أي شخص بما في ذلك مطور المنصة ومقدمي الخدمات لها أو عبرها أو المستخدمين
              الآخرين لها أو الغير أو قد تستخدم لابتزاز أي منهم.
            </li>
            <li>
              التقيد والامتثال والالتزام بقواعد العمل والإجراءات والآليات والسياسات الخاصة بالمنصة
              سواء أكانت واردة في هذه الاتفاقية أو في أي مكان آخر في المنصة، بما في ذلك – على سبيل
              المثال لا الحصر – آلية التسجيل في المنصة، وإجراءات طلب الخدمات، وسياسات التعامل مع
              الأطراف الأخرى، وإجراءات المحافظة على المنصة ومحتوياتها، والسياسات الخاصة بدفع قيمة
              تكاليف الخدمات المقدمة من خلال المنصة.
            </li>
            <li>
              الامتناع عن القيام بأي عمليات تزوير أو تحريف أو تغيير على أي من أصول أو مصادر البرامج
              أو البرمجيات أو المواد أو المعلومات أو البيانات أو الوثائق أو التقارير التي تحتويها
              المنصة أو التي يقوم المستخدم برفعها إليها أو تحميلها أو تسجيلها عليها.
            </li>
            <li>
              الامتناع عن الإعلان أو عرض أو بيع أي بضائع أو خدمات من خلال المنصة، والامتناع عن إجراء
              أو إرسال أي دراسات استقصائية، أو إحصائيات أو مسابقات أو ترويج أو نشر أو توثيق أي أخبار
              أو أحداث لأي أمر كان من خلال المنصة، والامتناع عن استخدام أي من محتويات المنصة لأي من
              تلك الأغراض لأي سببٍ كان.
            </li>
            <li>
              الامتناع عن إضافة، أو عرض، أو تحميل، أو تعديل، أو نشر، أو نقل، أو تحديث أو مشاركة أي
              مما يلي:
              <ul>
                <li>
                  المعلومات والبيانات والأخبار التي تخص الغير ولا يملك المستخدم أي حق في إضافتها أو
                  عرضها أو تحميلها أو تعديلها أو تحديثها أو مشاركتها أو نشرها من خلال المنصة.
                </li>
                <li>لمعلومات والبيانات والأخبار التي قد تسبب ضررًا محتملًا أو محققًا لأي شخص.</li>
                <li>لألفاظ والعبارات العنصرية أو العرقية أو التعدي على خصوصيات الآخرين.</li>
                <li>
                  لأخبار والشعارات والألفاظ والجمل التي تحث أو تشجع على أي أمر يخالف أو يتعارض مع
                  أنظمة وقوانين المملكة العربية السعودية أو أي دولة أخرى تعمل المنصة بها.
                </li>
                <li>
                  لمعلومات أو البيانات التي قد تؤدي أو ينتج عنها أي تعدٍّ على براءة اختراع أو علامة
                  تجارية أو حقوق طبع أو نشر أو أي من حقوق الملكية الأخرى؛ لأي شخص.
                </li>
                <li>
                  لمعلومات التي قد تهدد وحدة أو سلامة أو دفاع أو أمن المجتمع أو قد تُحرض أو تشجع أو
                  تحث على ارتكاب أي جريمة أو مخالفة أو تجاوز أو اهانة لأي فرد أو شخص طبيعي أو
                  اعتباري أو دولة أو حكومة، أو قد تؤثر سلبًا على العلاقات الودية التي تربط أي دولة
                  بدولة أخرى.
                </li>
              </ul>
            </li>
          </ol>
          <p
            class="px-3 px-md-0 mx-auto mb-2 text-justify lh-lg animate__animated animate__fadeIn hold__animate animate__slow"
          >
            وإذا تبين لمنصة مجهر هندسيمخالفة وتعدٍّ من قبل المستخدم لأي من هذه الشروط والأحكام، فإن لها
            الحق في اتخاذ كل أو أي من الإجراءات التالية:
          </p>
          <ol>
            <li>توجيه رسالة تحذيرية للمستخدم</li>
            <li>
              حذف أي مواد أو محتوى أو معلومات أو بيانات أو حسابات أو تعاملات أو إجراءات أو خدمات أو
              وثائق أو تقارير أو مستندات أنشئت أو أضيفت أو تم تحميلها على المنصة من قبل المستخدم،
              دون الرجوع له.
            </li>
            <li>
              إيقاف أو تعليق أو تقييد حساب المستخدم، أو منعه من استخدام المنصة بصفة دائمة أو مؤقتة.
            </li>
            <li>
              تبليغ الجهات الرسمية وتزويدها بكافة المعلومات والبيانات والوثائق والتقارير اللازمة،
              لاتخاذ الإجراءات النظامية والقانونية اللازمة ضد المستخدم، وسوف يكون المستخدم مسؤولاً
              شخصيًّا عن تعويض المنصة و/أو أي شخص متضرر من مخالفته أو تجاوزه عن أي أضرار أو تكاليف
              مادية أو معنوية قد يكون تكبدها أي شخص نتيجةً لذلك، بما في ذلك أتعاب المحاماة.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">
            سابعًا: رسوم وتكاليف الخدمات المقدمة من خلال المنصة:
          </div>
          <ol>
            <li>
              من حق المستخدم معرفة تكاليف الخدمة – التقديرية أو الفعلية – قبل طلبها، وفي حال موافقة
              المستخدم على تلك التكاليف فيكون واجبًا عليه الالتزام بدفعها.
            </li>
            <li>
              قد تتغير أسعار وتكاليف الخدمات المعروضة في المنصة بالزيادة أو النقص، ويحق للمنصة
              القيام بذلك دون أخذ موافقة المستخدم وذلك وفقًا للأنظمة والقوانين المعمول بها والمطبقة
              في المملكة العربية السعودية أو أي دولة قد تعمل المنصة فيها.
            </li>
            <li>
              يمكن للمستخدم استخدام أي وسيلة من وسائل الدفع والسداد التي سوف تكون متاحة في المنصة،
              بما في ذلك – على سبيل المثال لا الحصر – التحويل البنكي المباشر إلى حساب المنصة، أنظمة
              السداد الإلكتروني، البطاقات الائتمانية.
            </li>
            <li>
              في حال تعثر المستخدم أو امتناعه أو رفضه سداد ودفع قيمة تكاليف الخدمات التي سبق له
              الموافقة عليها وتم تقديمها له، يجوز للمنصة إدراج اسمه في الأنظمة والقوائم والسجلات
              الائتمانية التي تقدمها الجهات المرخصة بذلك، مثل الشركة السعودية للمعلومات الائتمانية
              (سمة).
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">ثامنًا: استخدام بطاقة الائتمان:</div>
          <ol>
            <li>
              في حال قرر المستخدم دفع قيمة تكاليف الخدمة المطلوبة عن طريق بطاقة ائتمانية، فيجب عليه
              الالتزام باستخدامها وفقًا للإجراءات والضوابط المحددة في المنصة، وهو بذلك يوافق دون
              قيدٍ أو شرط على قيام المنصة أو الجهة التي قد تتعاقد معها لهذا الغرض– بحسب الأحوال –
              بقيد العملية وخصم المبلغ المستحق أو حجزه من البطاقة الائتمانية التي يقوم المستخدم
              بتسجيل بياناتها في المنصة.
            </li>
            <li>
              من المعلوم لدى المستخدم أنَّ المنصة سوف تضع الإجراءات اللازمة والمناسبة والملائمة
              والممكنة والمتاحة للتأكد من حفظ وصيانة وسلامة وسرية المعلومات الخاصة بالبطاقات
              الائتمانية المسجلة عليها، إلاَّ أن المنصة لا تضمن بأي حال من الأحوال عدم وجود احتمالية
              لقيام أي شخص باختراق المنصة والتعدي على تلك المعلومات بنسخها أو حفظها أو نشرها أو
              استخدامها وإلحاق أي ضرر أو خسائر محتملة أو متحققة بالمستخدم أو الغير، وبالتالي فإن
              المنصة لن تكون مسؤولة بأي شكلٍ من الأشكال ولأي سببٍ كان في مواجهة المستخدم أو الغير في
              حال حدوث أي مما سبق.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">تاسعًا: إدارة الاحتيال:</div>
          <ol>
            <li>
              1ي حال تولدت قناعة أو شك لدى المنصة بأن المستخدم قام أو اتبع أو أجرى أو سجل أي عملية
              أو تصرف ينطوي على احتيال أو تدليس أو اختلاس أو أي فعل مُجرَّم بموجب أنظمة وقوانين
              المملكة العربية السعودية أو أي دولة أخرى تعمل المنصة فيها؛ فيجوز لها دون سابق إشعار أو
              إنذار اتخاذ كافة الإجراءات والتحوطات اللازمة لمنع أو الحد من أو إيقاف أي من الجرائم
              المذكورة، بما في ذلك – على سبيل المثال لا الحصر – إيقاف العملية المشبوهة، إيقاف حساب
              المستخدم بصفة دائمة أو مؤقتة، إلغاء حساب المستخدم، منع المستخدم من الدخول إلى المنصة
              والاستفادة منها، تبليغ الجهات الحكومية المختصة، إقامة الدعاوى القضائية ضد المستخدم ومن
              شاركه أو عاونه في الشروع أو القيام بأي من الجرائم المذكورة.
            </li>
            <li>
              للمنصة كامل الحق في وضع واتباع والقيام بكافة الإجراءات اللازمة والمتاحة للتحقق من هوية
              المستخدم وصحة وسلامة البطاقة أو البطاقات الائتمانية المستخدمة لدفع قيمة وتكاليف
              الخدمات، واتخاذ كافة الإجراءات النظامية والقانونية اللازمة في حال تبين للمنصة وجود أي
              خطأ أو نقص أو مخالفة أو تجاوز، بما في ذلك – على سبيل المثال لا الحصر – منع المستخدم من
              استخدام بطاقة أو بطاقات ائتمانية لدفع قيمة تكاليف الخدمات المقدمة.
            </li>
            <li>
              للمنصة الحق في اتخاذ الإجراءات والتدابير اللازمة والضرورية لضمان وسلامة وأمان وسرية
              أنظمتها وخوادمها وبنيتها التحتية، وما تحتويه من معلومات وبيانات ووثائق وتقارير وسجلات
              ومواد تخص المستخدمين أو الأطراف الأخرى، وعليه فإن للمنصة كامل الحق في اتخاذ أي إجراءات
              أو تدابير للتحقق من ضمان وسلامة وأمان وسرية أنظمة المنصة وخوادمها وبنيتها التحتية.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">
            عاشرًا: التعويض وتحديد المسؤولية:
          </div>
          <ol>
            <li>
              يُقر المستخدم ويتعهد بأنه يتحمل شخصيًا كامل المسؤولية المدنية والجنائية التي قد تنشأ
              عن مخالفته أحكام وشروط هذه الاتفاقية أو إساءته لاستخدام منصة مجهر هندسي، ويمكن لأي متضرر من
              أي تقصير وقع من قبله الرجوع عليه بالطرق والوسائل النظامية والقانونية لمطالبته
              ومحاسبته.
            </li>
            <li>
              لن تكون منصة مجهر هندسي(ملّاكها أو مُطوروها أو شركاؤها أو من يعملون لديها أو معها أو
              لمصلحتها أو مستشاروها أو موظفوها أو ممثلوها) مسؤولون تجاه المستخدم عن أي أضرار أو
              خسائر، مباشرة أو غير مباشرة، عامة أو خاصة، مادية أو معنوية، لحقت أو قد تلحق به جراء
              استخدامه للمنصة، ويعد تحميله واستخدامه للمنصة إقرار منه على تحمل مسؤولية كافة ما قد
              يتعرض له أو يلحق به نتيجةً لذلك، وموافقة منه على كافة شروط وأحكام هذه الاتفاقية.
            </li>
          </ol>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">
            حادي عشر: ربط المنصة بأطراف أخرى:
          </div>
          <p>
            من المعلوم لدى المستخدم أنَّ المنصة قد تحتوي على روابط أو مؤشرات لمواقع أخرى لأشخاص
            آخرين (طبيعيين أو اعتباريين)، بعلمها واختيارها أو دون ذلك، حال دخول المستخدم للمنصة أو
            تحميلها أو بعد تحميلها، أثناء استخدامه لها أو بعده، وعليه فإن المنصة لا تضمن سلامة أو
            أمان أو حماية أو خلو أي من تلك الروابط أو المؤشرات من أي خلل أو عطل أو اختراق أو
            فايروسات قد تحدث أو تلحق أي ضرر أو خسارة مباشرة أو غير مباشرة محتملة أو متحققة
            بالمستخدم، نظرًا لأن المنصة لا تملك ولا تُسيطر ولا تُدير أيًّا من تلك الروابط أو
            المؤشرات، وليس لها حق التحكم في محتوياتها، وبالتالي فإنالمستخدم يتحمل وحده المسؤولية عن
            استخدام أي من تلك الروابط أو المؤشرات.
          </p>
        </div>

        <div class="my-3 text-justify" style="line-height: 2.5">
          <div class="fw-bold bg-light rounded py-1 px-3 mb-2">ثاني عشر: النزاعات والقضاء:</div>
          <p>
            في حال نشوء أي نزاع بين المستخدم ومنصة مجهر هندسي، وكان النزاع متعلقًا بالاتفاقية أو ما ينشأ
            عنها أو بسببها من حقوق والتزامات، فإن الطرفين يتعهدان بحل النزاع بالطرق الودية خلال مدة
            أقصاها ثلاثين (30) يومًا منذ نشوء النزاع، وفي حال تعذر حل النزاع بالطرق الودية فيتم حله
            عبر المحاكم المختصة في مدينة الدمام بالمملكة العربية السعودية.
          </p>
        </div>

        <div class="rounded-5 inspector__home__img text-center">
          <img
            src="{% static 'images/favicon.ico' %}"
            class="my-5 p-3 rounded-5 bg-light"
            style="width: 250px"
            alt="ENGINEER MICROSCOPE"
          />
        </div>
      </div>
    </div>
  </section>

{% endblock %}
