<p class="alert">يمكنك تأكيد إرسال التقرير للمراجعة من قبل فريق الجودة وذلك عند التأكد من ادخال كافة بيانات التقرير التابعة لتلك العناصر مع إدخال ملاحظاتك على العقار.</p>

<br>
<p id="report-success-msg" class="alert alert-success d-none">التقرير مكتمل وكل شيء تمام! يمكنك الآن إرسال التقرير لمراجعة فريق الجودة.</p>

<div id="eport-submit-error">
</div>
<br>

<button type="button" name="action" value="submit_report" id="show-report-btn" class="orderNow d-none">
    <span class="text fs-5 fw-bold">ارسال التقرير</span>
</button>


<template id="report-submit-template">
    <p class="alert alert-error"></p>
</template>
